.imiui-bottomsheet {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--imiui-primary-dark);
        opacity: 0;
        z-index: 99;
        transition: all 100ms;
    }
    .container {
        z-index: 100;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 100ms;
        .header {
            display: flex;
            align-items: center;

            background-color: var(--imiui-primary-white);
            padding: 8px 16px;
            border-radius: 8px 8px 0px 0px;
            position: relative;
            min-height: 40px;

            border-bottom: 1px solid var(--imiui-gray-50);
            .indicator {
                position: absolute;

                width: 40px;
                height: 4px;
                top: -8px;
                left: 0;
                right: 0;

                background: var(--imiui-gray-25);
                border-radius: 100px;

                margin-left: auto;
                margin-right: auto;
            }
            .icon {
                position: absolute;
                left: 16px;

                width: 24px;
                height: 24px;
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
            .title {
                color: var(--imiui-primary-dark);
                width: 100%;
                text-align: center;
            }
            .close {
                width: 16px;
                height: 16px;
                position: absolute;
                right: 16px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .content {
            background-color: var(--imiui-primary-white);
            min-height: 300px;
            max-height: calc(100vh - 60px);
        }
    }
}