@import '../../styles/mixin.scss';

.imiui-select {
    position: relative;
    cursor: pointer;
    .imiui-input {
        &.disabled {
            input:not(:placeholder-shown) + label {
                color: var(--imiui-primary-blue) !important;
            }
            background: var(--imiui-primary-white) !important;
        }
        label {
            color: var(--imiui-gray-200) !important;
        }
        input {
            color: var(--imiui-primary-dark);
            cursor: pointer !important;
        }
        svg {
            fill: var(--imiui-gray-200);
        }
    }
    .arrow-icon {
        transform: rotate(0deg);
        transition: all 200ms;
        &.rotate {
            transform: rotate(180deg);
        }
    }
    .options {
        background-color: var(--imiui-primary-white);
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1200;

        max-height: 330px;
        overflow: scroll;
        border-radius: 8px;

        button {
            @extend %button-default;

            &:hover {
                background-color: var(--imiui-blue-50);
            }

            padding: 0 12px;
            height: 36px;
            text-align: left;
        }
    }
}