@import '../../styles/mixin.scss';

.imiui-checkbox {
    display: inline-flex;
    align-items: center;
    height: 32px;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 4px;
    }

    input:checked~.checkmark {
        >.svg-checked {
            display: block;
        }

        >.svg-unchecked {
            display: none;
        }
    }

    input:not(:checked)~.checkmark {
        >.svg-checked {
            display: none;
        }

        >.svg-unchecked {
            display: block;
        }
    }

    /* Ripple effect */
    .ripple {
        background-position: center;
        transition: all 0.8s;
    }

    input:not(:disabled):checked~.ripple:hover {
        background: var(--imiui-blue-50) radial-gradient(circle, transparent 1%, var(--imiui-blue-50) 1%) center/15000%;
    }

    input:not(:disabled):checked~.ripple:active {
        background-color: var(--imiui-gray-100);
        background-size: 100%;
        transition: all 0s;
    }

    input:not(:disabled):not(:checked)~.ripple:hover {
        background: var(--imiui-gray-50) radial-gradient(circle, transparent 1%, var(--imiui-gray-50) 1%) center/15000%;
    }

    input:not(:disabled):not(:checked)~.ripple:active {
        background-color: var(--imiui-blue-200);
        background-size: 100%;
        transition: all 0s;
    }


    /* disabled */
    input:disabled {
        ~.checkmark {

            .svg-checked,
            .svg-unchecked {
                fill: var(--imiui-gray-100);
            }
        }

        ~span {
            color: var(--imiui-gray-100);
        }
    }
    span {
        color: var(--imiui-primary-dark);
    }
}