@import './../../styles/mixin.scss';

.imiui-avatar {
    .img-24 {
        width: 24px;
        height: 24px;
        @include font($weight: 600, $fontSize: 12px, $lineHeight: 16px);
    }
    .img-36 {
        width: 36px;
        height: 36px;
        @include font($weight: 600, $fontSize: 16px, $lineHeight: 20px);
    }
    .img-48 {
        width: 48px;
        height: 48px;
        @include font($weight: 600, $fontSize: 24px, $lineHeight: 32px);
    }
    .img-60 {
        width: 60px;
        height: 60px;
        @include font($weight: 600, $fontSize: 30px, $lineHeight: 40px);
    }
    .img-72 {
        width: 72px;
        height: 72px;
        @include font($weight: 600, $fontSize: 36px, $lineHeight: 48px);
    }
    .img-96 {
        width: 96px;
        height: 96px;
        @include font($weight: 600, $fontSize: 48px, $lineHeight: 64px);
    }
    img {
        object-fit: cover;
    }

    .img {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: var(--imiui-primary-white);
        }
    }
}